<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>WebSocket Test</title>

<!--
<script type="text/javascript" src="../util/jquery-1.11.2.min.js"></script>

//http://atomicrobotdesign.com/blog/web-development/how-to-use-sprite-sheets-with-html5-canvas/
// mt bagunçado aprender a fazer classes em js!
-->

<!--  INCLUDES -->
<script type="text/javascript" src="../util/Enum.js"></script>
<script type="text/javascript" src="../util/prototype.js"></script>
<script type="text/javascript" src="../util/spriteManager.js"></script>
<script type="text/javascript" src="../logic/GameEngine.js"></script>
<script type="text/javascript" src="../logic/InputEngine.js"></script>
<script type="text/javascript" src="../logic/Bomber.js"></script>
<script type="text/javascript" src="../logic/Player.js"></script>
<script type="text/javascript" src="../logic/Bomb.js"></script>
<script type="text/javascript" src="../logic/Square.js"></script>
<script type="text/javascript" src="../logic/GameClient.js"></script>

</head>
<body onload="init();">
    <h2>Aperte W, A, S ou D!</h2>
    <div>
        <canvas id="canvas" style="border: 2.5px solid black; background: lime;" width=440 height=440></canvas>
        <div style="float: right; border: 1px solid #000; padding: 2px 2px 2px 2px;">
            fps:
            <div id="fps" style="height: 20px; width: 30px; border: 1px solid #ccc; font: 16px/20px Georgia, Garamond, Serif;"></div>
            mps:
            <div id="mps" style="height: 20px; width: 30px; border: 1px solid #ccc; font: 16px/20px Georgia, Garamond, Serif;"></div>
        </div>
    </div>
    <div>
        <div id="output"
            style="max-height: 1000px; height: 200px; width: 600px; border: 1px solid #ccc; font: 16px/20px Georgia, Garamond, Serif; overflow: auto;"
            readonly="readonly"></div>
        <button onclick="websocket.close();init();">Connect</button>
        <button onclick="websocket.close();">Disconnect</button>
        <button onclick="document.getElementById('output').innerHTML = '';">Clear</button>
    </div>
</body>
</html>
